$light-gray: #A8AFC1;
$lighter-gray: #EFF1F7;

$green: #38C432;
$red: #F23434;
$purple: #9948D1;

$dark-text-color: #484F64;
$darker-text-color: #303A48;
$light-text-color: $light-gray;
$border-color: #D7DBEC;
$bullet-color: $border-color;
$bullet-active-color: #56648c;
