$gray: #A8AFC1;
$light-gray: #EFF1F7;
$lighter-gray: #F2F7F9;

$green: #2EC623;
$red: #FE2700;
$white: #FFFFFF;

$dark-text-color: #484F64;
$darker-text-color: #14171A;
$light-text-color: $light-gray;
$dark-border-color: #D7DBEC;
$light-border-color: #F1F1F1;

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
